code {
  font-family: monospace;
  font-size: 1.5em;
}

body {
  background-color: black;
  margin-top: 0;
  height: 100%;
  width: 100%;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#walkers-overlay {
  top: 0;
  left: 0;
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

#walkers {
  position: fixed;
  overflow: hidden;
  z-index: -2;
  top: 0;
  left: 0;
}
