---
---
@import "default.css";

#main-page-content-title {
  color: white;
  font-size: 4em;
  font-family: "Chivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
}

#main-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}

#main-page-header p {
  margin-top: 1.3em;
}

#lorenz {
  width: 30em;
  height: 30em;
  flex-shrink: 0;
}

@media (max-width: 900px) {
  #main-page-header {
    flex-direction: column-reverse;
  }

  #lorenz {
    width: 16em;
    height: 16em;
  }
}

@media (max-width: 700px) {
  #lorenz {
    display: none;
  }
}

h1 {
  font-size: 3em;
}

ul li {
  margin-bottom: 0.5em;
}

p {
  margin-top: 0.2em;
  margin-bottom: 0.4em;
}
