---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page.title}}</title>
    <link href="/assets/css/default.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Chivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="background-animation" id="{{ page.background }}"></div>
    <div id="page-wrapper">
      {{ content }}
    </div>
  </body>
  <script src="/assets/scripts/p5.min.js"></script>
  <script src="/assets/scripts/{{ page.background }}.js"></script>
  {% for script in page.scripts %}
    <script src="/assets/scripts/{{ script }}.js"></script>
  {% endfor %}
</html>
